<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311783963101-t7uf7sausq9eko6eqqc7ps2851f1civn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311783963101-t7uf7sausq9eko6eqqc7ps2851f1civn</string>
	<key>API_KEY</key>
	<string>AIzaSyB7SgjiTwUlQnGwy6zlJCd3Da04BOPBtVg</string>
	<key>GCM_SENDER_ID</key>
	<string>311783963101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatNew</string>
	<key>PROJECT_ID</key>
	<string>chat-new-3add4</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-new-3add4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311783963101:ios:0ff5dabbc880712ca91e34</string>
</dict>
</plist>